# Partially robbed from: https://docs.haskellstack.org/en/stable/travis_ci/

sudo: false

language: c

cache:
  directories:
    - $HOME/.stack/

before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
- stack build --copy-bins --install-ghc --no-terminal hlint tasty-discover

script:
- make test
- make hlint
